# Fichiers vidéo lourds
**/*.mp4
**/*.mov
**/*.m4v
**/*.webm

# Affiches projet / médias de visuels
**/affiche.*
**/Affiche.*
**/poster.*
**/*_affiche.*
**/*.jpg
**/*.jpeg
**/*.png
**/*.pdf

# Fichiers système
.DS_Store
Thumbs.db

# Dossiers de build / dépendances si besoin
node_modules/
dist/
.vite/
